
.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    background-color: #E5DFCF;
    border-style: outset;
    border-radius: 25px;
    border-color: #783f04;
    border-width: 5px;
    font-family: 'luminari', sans-serif;

}

.navbar-item {
    color: black;
    text-align: center;
    margin: 5px;
}