.add-item-form{
    background-color: #E5DFCF;
    margin: auto;
    width: fit-content;
    font-family: 'luminari', sans-serif;
    color: black;
    margin-top: 20px;
    padding: 10px;
    border-style: outset;
    border-radius: 25px;
    border-color: #783f04;
    border-width: 5px;
}

.inputs{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.form-info{
    width: auto;
}

.form-div{
    margin: 5px;
}