
.retailers-container{
    display: flex;
    flex-direction: row;
}

.retailer{
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.retailer-btn{
    background-color:  #7DD25F;
    color: white;
    border-radius: 10px;
    margin: 5px;
}

fieldset{
    border: none;
}

.new-retailer-form{
    border: 1px solid black;
    border-radius: 10px;
}

.retailer-flower-img{
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
}

.flower-card{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
    width: 170px;
}

.flower-display{
    display: flex;
    flex: row;
}

.flower-info{
    text-align: left;
}