.nursery-header {
  text-align: Center;
  color: #126118;
  font-size: 30px;
}

.nurseries {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header-new-nursery {
  text-align: Center;
  color: #126118;
  font-size: 30px;
}

.header-edit {
  text-align: Center;
  color: #126118;
  font-size: 30px;
}
