/* Author: Seth, Purpose: Styling for login and registration pages */
.auth-fieldset{
    margin: 10px;
    border: none;

}

.auth-button{
    background-color:  #7DD25F;
    color: white;
}

.register-link{
    color:  #5300FE;
}

.auth-form-input{
    height: 35px;
    padding: 5px;
    border-radius: 5px;
}